<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/profile.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Julian Kühnert</a></h1>
            <p>Environmental Seismologist<br />
            	Data Scientist & Modeler
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="#codes">Codes</a></li>
                <li><a href="{{ site.baseurl }}/cv">CV</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/JulianKuehnert" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
                <li><a href="https://github.com/jubeku" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="{{ site.baseurl }}/contact" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

