---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>
        
        <footer>
            {% if page.previous %}
	    <a href="{{ site.baseurl }}{{ page.previous.url }}" class="float-left">&larr; Previous project</a> {% endif %}
            {% if page.next %}
	    <a href="{{ site.baseurl }}{{ page.next.url }}" class="float-right">Next project &rarr;</a> {% endif %}
        </footer>

    </div>

</section>
